@use '../variables.scss' as *;
//mixins
@use '../mixins/global-mixins.scss' as *;

.goal_cart_drawer {

    .drawer__footer-buttons {
        
    }   
    
    .tax-note {
        font-size: 14px;
    }

    .drawer__header ,
    .drawer__tabs {
        align-items: baseline;
    }

    .drawer__tabs li:nth-child(2) {
        vertical-align: sub;
        .drawer__title  {
            @include break_points($tablet, min) {
                font-size: 20px;                            
            }        
            
            @include break_points($tablet) {
                font-size: 16px;                                            
            }
        }
    }    
}

.goal_cart_drawer__bottom_wrap {
    grid-template-columns: 1fr auto;
}
