@use '../variables.scss' as *;
@use '../mixins/global-mixins.scss' as *;

.goal_footer {       

    .footer__left {
        border-inline-end: none;
    }

    .footer__accordions .details {
        @include break_points($laptop_s, $tablet) {
            width: calc(50% - var(--sp-12) * 4 / 5);            
        }
    }
}

.goal_footer__logo_text {
    max-width: 440px;
}

.goal_footer__contacts {
    @include break_points($laptop) {       
        width: 100%!important;
    }
}

.goal_footer__contacts_head {   
    font-family: var(--font-heading-family)!important;
    font-size: var(--fluid-base-to-2xl)!important;
    margin: 0 0 var(--sp-5)!important;
}

.goal_footer__contacts_item {    
    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.goal_footer__contacts_item_in {
    display: inline-flex;
    align-items: center;
    gap: 10px;

}

.goal_footer__link_icon {
    display: block;
    width: 30px;
    height: 30px;
}