@use '../variables.scss' as *;
//mixins
@use '../mixins/global-mixins.scss' as *;
@use '../snippets/opk-slider-controls.scss' as *;

.opk_hero_slider {
    width: 100%;        
}

.opk_hero_slider__swiper {

}

.opk_hero_slider__swiper_wrap {
    @include break_points($tablet_xl) {
        align-items: stretch;
    }
}

.opk_hero_slider__item {   
    align-items: center;    
    background-color: var(--bg-hero-slider-color);
    padding-inline: var(--page-padding);

    @include break_points($tablet_xl, min) {
        display: grid;    
        grid-template-columns: repeat(2, 1fr);              
    }

    @include break_points($tablet_xl) {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    @include break_points($tablet) {
        min-height: 500px!important;
    }
}

.opk_hero_slider__col {
    position: relative;
    height: 100%;
    width: 100%;

    &.opk_hero_slider__col--content {
        display: flex;
        align-items: flex-end;

        @include break_points($tablet_xl, min) {
            padding: 90px 0;            
        }

        @include break_points($tablet_xl) {
            padding: 30px 0;                        
        }
    }
}

.opk_hero_slider__content {
    position: relative;
    z-index: 2;

    @include break_points($tablet_xl) {
        flex: auto;       
    }
}

.opk_hero_slider__title {
    font-size: clamp(30px, 5.8vw, 74px)!important;
    line-height: 0.9;    
    
    @include break_points($tablet, min) {        
        color: var(--text-color);
    }

    &:not(:last-child) {
        @include break_points($tablet, min) {
            margin-bottom: 40px;
        }

        @include break_points($tablet) {
            margin-bottom: 24px;
        }        
    }
}

.opk_hero_slider__text {    
    font-style: normal;
    font-weight: 400;        
    line-height: 1.25;

    h1, h2, h3, h4, h5, h6, span {
        color: inherit;
    }

    p {
        line-height: inherit;
    }

    @include break_points($tablet, min) {
        font-size: 20px;
        color: var(--text-color);
    }

    @include break_points($tablet) {
        font-size: 18px;        
    }

    > *:not(:last-child) {
        margin-bottom: 16px;
    }

    &:not(:last-child) {
        @include break_points($tablet, min) {
            margin-bottom: 40px;
        }

        @include break_points($tablet) {
            margin-bottom: 24px;
        }        
    }
}

.opk_hero_slider__btn_wrap {
    display: flex;
    align-items: center;
    gap: 22px;

    .button {
        @include break_points($tablet) {
            --color-button-background: 0, 0, 0 !important;
            --color-button-border: 0, 0, 0 !important;
            --color-button-text: 255, 255, 255 !important;
        }
    }
}

.opk_hero_slider__bg {
   
    @include break_points($tablet_xl, min) {
        left: calc(var(--gl-indent)* -1);
        width: calc(100% + var(--gl-indent));
    }

    @include break_points($tablet_xl) {
        left: 0;
        width: 100vw;        
    }

    @include break_points($tablet, min) {
        position: absolute;
        top: 0;    
        height: 100%;
    
    }

    @include break_points($tablet) {       
        height: clamp(400px, 79vw, 600px);        
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;        
    }
}

.opk_hero_slider__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.opk_hero_slider__img--desktop {
        @include break_points($tablet) {
            display: none;
        }
    }

    &.opk_hero_slider__img--mobile {
        @include break_points($tablet, min) {
            display: none;
        }
    }
}

.opk_hero_slider__pic {
    display: block;
    height: 100%;
    
    @include break_points($tablet_xl, min) {
        margin-right: calc(var(--gl-indent)* -1);
        border-left: 1px solid $black;
    }

    @include break_points($tablet_xl) {
        width: 100%;
        border: 1px solid $black;
    }
}

.opk_hero_slider__controls {
    z-index: 10;
    position: absolute;    
    width: 110px;

    @include break_points($tablet_xl, min) {
        bottom: 26px;
        right: 30px;
    }

    @include break_points($tablet_xl) {
        bottom: 17px;
        right: 20px;
    }

    &.hidden {
        display: none;
    }
}