/*!***********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/custom.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************/
/* ==================================================== IMPORTS ==================================================== */
/* ===================================================== COLORS ==================================================== */
:root {
  --big-main-layout: 1920px;
  --second-layout: 1676px;
  --normal-main-layout: 1534px;
}
@media screen and (min-width: 1200px) {
  :root {
    --gl-indent: 50px;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  :root {
    --gl-indent: 30px;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --gl-indent: 1.5rem;
  }
}

/* ===================================================== COMMON ==================================================== */
body.popup_open {
  overflow: hidden;
}

.goal_section {
  padding-left: var(--gl-indent);
  padding-right: var(--gl-indent);
}

.goal_container {
  max-width: var(--main-layout);
  margin: 0 auto;
  width: 100%;
}

.goal_truncate {
  margin-top: 16px;
  text-align: right;
}

.goal_truncate__btn {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  min-height: 28px;
  padding: 0 10px;
  background-color: #000000;
  font-size: 14px;
  line-height: 1;
  color: #FFFFFF;
  text-transform: uppercase;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.goal_truncate__btn:has(input:checked) .hide {
  opacity: 1;
  display: inline-flex;
}
.goal_truncate__btn:has(input:checked) .show {
  opacity: 0;
  display: none;
}
@media (any-hover: hover) {
  .goal_truncate__btn:hover {
    transform: scale(1.02);
  }
}

.goal_truncate__btn_text.hide {
  display: none;
  opacity: 0;
}
