/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[1].use[3]!./src/styles/sections/goal-cart-drawer.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************/
/* ===================================================== COLORS ==================================================== */
:root {
  --big-main-layout: 1920px;
  --second-layout: 1676px;
  --normal-main-layout: 1534px;
}
@media screen and (min-width: 1200px) {
  :root {
    --gl-indent: 50px;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  :root {
    --gl-indent: 30px;
  }
}
@media screen and (max-width: 767px) {
  :root {
    --gl-indent: 1.5rem;
  }
}

.goal_cart_drawer .tax-note {
  font-size: 14px;
}

.goal_cart_drawer__bottom_wrap {
  grid-template-columns: 1fr auto;
}
